* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    margin: 0;
    min-height: 100%;
}

.container {
    min-width: 1200px;
    margin: 0 auto;
    background: hsl(0, 0%, 100%);
    text-align: justify;
    position: absolute;
    top: 10px;
    left: 200px;
    right: 200px;
}

.header {
    top: 0px;
    width: 100%;
    position: absolute;
    padding: 20px 20px 20px 20px;
    text-align: center;
    background: #226bab;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 50px;
    border-radius: 10px;
    color: #658675;
    font-weight: 1000;
}

.header img {
    float : left;
    height: 70px;
    width: 20%;
}
                
.header a {
    text-decoration: none;
}

.header a:hover {
    color: darkgreen;
}

.menu {
    top: 115px;
    width: 100%;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    background-color: #036;
    position: absolute;
}

.menu a {
    font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
    font-size: 0.8em;
    font-weight: bold;
    padding: 0;
    
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    margin: 0;
    padding: 0 2em;
    line-height: 1.8em; 
    color: #fff;
    text-decoration: none;    
}

.menu a:hover {
    color:darkgrey;
}

/*
.sidebar {
    position: absolute;
    top: 170px;
    margin: auto;
    float: left;
    background: #226bab;
    padding: 20px 20px 20px 20px;
    font-family: "Lucida Sans Unicode";
    width : 15%;
}

.sidebar h1 a {
    text-decoration: none;
    color : black;
    font-size: 20px;
}

.sidebar h1 a:hover {
    color:darkgrey;
}
*/

.main {
    font-family: Verdana, Arial, Helvetica, Futura, sans-serif; 
    padding: 30px 100px 30px 50px;
/*    background: url(../images/Panch_bkgd.jpg) no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: hsla(0,0%,100%,0.60);
    background-blend-mode: overlay;
    background-position: center;
    display: block;
    margin-top: 150px;
    border-radius: 10px;
    width: 100%;
}

.main #about {
    position: absolute;
    padding: 30px 100px 30px 50px;
    list-style-type: square;
}

/* Centre the form within the page */
.main #contact form {
        margin:0 auto;
        width:459px;
}

.main #contact form label{
    display:block;
    margin-top:20px;
    letter-spacing:2px;
}

/* Style the text boxes */
.main #contact form input, textarea {
    width:439px;
    height:27px;
    background:#efefef;
    border:1px solid #dedede;
    padding:10px;
    margin-top:3px;
    font-size:0.9em;
    color:#3a3a3a;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

.main #contact form input:focus, textarea:focus {
    border:1px solid #97d6eb;
}

.main #contact form textarea {
	height:213px;
    width: 100%;
	background:url(../images/C_C++_logo.jpg) #efefef;
}

.main #contact #submit {
    width:127px;
    height:38px;
    background:url(../images/submit_btn.jpeg) center no-repeat;
    text-indent:-9999px;
    border:none;
    margin-top:20px;
    cursor:pointer;
    overflow:auto;
    background-size: 100%;
    background-size: 100px auto;
}

.main #contact #submit:hover {
    opacity:.6;
}

.footer {
    padding: 20px 20px 20px 20px;
    text-align: center;
    background-color: #226bab;
    color: #444444;
    font-family: "Lucida Sans Unicode";
    font-size: medium;
    bottom: 0px;
    border-radius: 10px;
    position: fixed;
    width: 72%;
}

.footer, .push {
  height: 30px;
}

.footer a {
    text-decoration: none;
    color: blue;
}