body {
    background-color: #FFFFFF;
    margin: 0;
    min-height: 100%;
}

.container {
    width: 1200px;
    margin: 0 auto;
    background: #dee2a5;
    text-align: justify;
}

.header {
    padding: 20px 20px 20px 20px;
    text-align: center;
    background: #226bab;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 50px;
    border: 5px solid #4d4e63;
    border-width: medium;
    border-radius: 10px;
    color: #658675;
    font-weight: 1000;
}

.header img {
    float : left;
    height: 50px;
    width: 20%;
}
                
.header a {
    text-decoration: none;
}

.header a:hover {
    color: darkgreen;
}

.menu {
    padding: 10px 10px 10px 10px;
    border: 5px solid rgba(28, 33, 29, 0.9);
    border-radius: 10px;
    background-color: #036;
}

.menu a {
    font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
    font-size: 0.8em;
    font-weight: bold;
    padding: 0;
    
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    margin: 0;
    padding: 0 2em;
    line-height: 1.8em; 
    color: #fff;
    text-decoration: none;    
}

.menu a:hover {
    color:darkgrey;
}

.sidebar {
    margin: auto;
    float: left;
    background: #226bab;
    padding: 20px 20px 20px 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: "Lucida Sans Unicode";
    width : 15%;
}

.sidebar h1 a {
    text-decoration: none;
    color : black;
    font-size: 20px;
}

.sidebar h1 a:hover {
    color:darkgrey;
}

.main {
    font-family: Verdana, Arial, Helvetica, Futura, sans-serif; 
    padding: 30px 40px 100px 250px;
    background: url(../images/Panch_bkgd.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    z-index: 1;
    background-color: hsla(0,0%,100%,0.60);
    background-blend-mode: overlay;
    background-position: center;
    margin-bottom: -30px;
}

.footer {
    padding: 20px 20px 20px 20px;
    text-align: center;
    background-color: #226bab;
    color: #444444;
    font-family: "Lucida Sans Unicode";
    font-size: medium;
    border: 5px solid #13164c;
    border-width: medium;
    bottom: 0;
    position: relative;
    border-radius: 10px;
}

.footer, .push {
  height: 30px;
}

.footer a {
    text-decoration: none;
    color: blue;
}